.mypage__recent__main {
    width: 100%;
    transform: skew(-0.05deg) !important;
    animation: fadein 0.4s;

    @keyframes fadein {

        /* 효과를 동작시간 동안 0 ~ 1까지 */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.mypage__recent__header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 40px;

    h3 {}

    p {
        color: rgb(169, 169, 169);
    }
}

.mypage__recent__container {
    display: flex;
    flex-wrap: wrap;

    .mypage__recent__item {
        margin-top: 10px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        position: relative;
        width: 19%;
    }
}

.mypage__noresult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    h2 {
        margin-top: 25px;
        font-size: 1.35rem;
        font-weight: 600;
    }
}