// LoginForm.scss 적용
.login__form {

    .btn__copy {
        background: #000 !important;
    } 

    .btn__login {
        border: 1px solid rgba(226, 226, 226, 0.774);
        background-color: rgb(255, 255, 255) !important;
        color:#000 !important;
    }
    .btn__copy:hover {
        background-color: rgba(0, 0, 0, 0.644);
        transition-duration: 0.3;
    }
    .btn__login:hover {
        background-color: rgba(199, 199, 199, 0.644);
        transition-duration: 0.3;
    }
}