header {
    h2 {
        font-size: 18px;
        font-weight: 600;
    }

    a {
        color: #000 !important;
    }

    nav {
        ul {
            display: flex;

            li {
                margin-left:25px;
            }
        }
    }
}