.mypage__main {
    align-items: center;
    background-color: white;
    padding: 50px 18%;
    height: 100%;
    font-size: 0.9rem;

    .mypage__header {
        width:100%;
        margin-bottom: 60px;

    }
    
    .mypage__viewer {
        display: flex;
        justify-content: center;
    }
}