.mypage__main {
    align-items: center;
    background-color: white;
    padding: 50px 18%;
    height: 100%;
    font-size: 0.9rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
     /* 스크롤바의 폭 너비 */
     &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #A8A8A8;
        /* 스크롤바 색상 */
        border-radius: 10px;
        /* 스크롤바 둥근 테두리 */
    }

    &::-webkit-scrollbar-track {
        background: #F3F4F6;
        /*스크롤바 뒷 배경 색상*/
    }

    .mypage__header {
        width:100%;
        margin-bottom: 60px;

    }
    
    .mypage__viewer {
        display: flex;
        justify-content: center;
    }
}