.account__container {
    border: 1px solid rgb(243, 244, 246);
    width: 438px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .user__icon__container {
        margin-top: 50px;
        margin-bottom: 30px;
        .user__icon {
            margin-bottom: 20px;
        }
    }
    

    .account__item {
        display: flex;
        margin: 20px;
        :not(.account__item__label, svg) {
            text-align: right;
            width: 180px;
        }
        svg {
            margin-left: 20px;
            transition-duration: 0.3s;
            cursor:pointer;
        }
        svg:hover {
            color: orange;
            transition-duration: 0.3s;
        }
    
        .account__item__label {
            text-align: left;
            font-weight: 700;
            width: 100px;
        }
    }
    
    .account__item__userId {
        margin-right: 57px;
    }

    .account__footer {
        width: 75%;
        height: 50px;
        border-top: 1px solid rgb(243, 244, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        button {
            font-size: 0.75rem;
            color: rgb(155, 155, 155);
        }
    }
}