header {
    display:flex !important;
    justify-content: space-between !important;
    background: white !important;
    padding: 0 15% !important;
    border-bottom: 1px solid #c4c4c4 !important;

    .logo {
        width: 115px;
        height: 40px;
        margin: 10px 0 !important;
        background: rgba(255, 255, 255, 0.3);
        display:flex;
        align-items: center;
        cursor:pointer;
        img {
            width:100%;
        }
    }

    nav {
        font-size:15px;
        ul {
            display: flex;
            li{
                margin-right:40px;
            }
        }
    }
}