.update__phone__container {
    margin: 30px;
    width: 450px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    .update__phone__form {
        display: flex;
        flex-direction: column;
        div:not(.update__submit__btn) {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            div {
                border-style: solid;
                border-radius: 10px;
                border-width: thin;
                border-color: rgb(243, 244, 246);
                margin: 15px 0px 0px 15px;
                input {
                    height: 50px;
                    padding-left: 13px;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    border-radius: 10px;
                }
                ::placeholder {
                    color: rgb(204, 204, 204);
                }
            }
        }

        .update__submit__btn {
            display: flex;
            justify-content: center;
            button {
                width: 140px;
                height: 60px;
                text-align: center;
                border: 1px solid rgb(243, 244, 246);
                margin: 0px 15px 15px 0px;
                color: rgb(114, 114, 114);
                font-weight: bold;
                transition-duration: 0.3s;
            }
            :disabled {
                background-color: rgb(211, 211, 211) !important;
                color: rgba(114, 114, 114, 0.253) !important;
            }
            :hover {
                background-color: rgb(241, 241, 241);
                transition-duration: 0.3s;
            }
            
        }
    }
}