.sidebar__container {
    width:38% !important;
    max-width: 38% !important;
    min-width: 38% !important;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7 !important;
}