.sidebar__container {
    width:35% !important;
    max-width: 35% !important;
    min-width: 35% !important;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7 !important;
}

#review__add__btn {
    position:absolute;
    bottom: 5px;
    right: 30px;
    background-color: #FF8B11;
    border: 2px solid #fff;
    color:#fff;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:pointer;
    z-index:101;

    font-size:2.3rem;

    &:hover {
    background-color: #e98214;
    }
}