// LoginForm.scss 적용
.account__info {
    border: none !important;
    color: rgb(131, 131, 131) !important;
}

.password__view__icon {
        position: absolute !important;
        right: 5% !important;
        color: rgba(0, 0, 0, 0.233);
        border: none !important;
        transition-duration: 0.2s;
        @keyframes fadein {
            /* 효과를 동작시간 동안 0 ~ 1까지 */
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }
    }
    .password__view__icon:hover {
        transition-duration: 0.2s;
        color: rgba(0, 0, 0, 0.63);
    }
