.zzim__header {
    font-size: 0.8rem;
    margin-bottom: 40px;
}
.zzim__container {
    width: 100%;
    transform: skew(-0.05deg) !important;
    animation: fadein 0.4s;

    @keyframes fadein {

        /* 효과를 동작시간 동안 0 ~ 1까지 */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.zzim__list {
    display: flex;
    flex-wrap: wrap;
    .review__list__noresult {
        width: 100%;
        display: flex;
        justify-content: center;

        h2 {
            margin-top: 25px;
            font-size: 1.35rem;
            font-weight: 600;
        }
    }

    .review__list__item {
        margin-top: 10px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        position: relative;
        width: 19%;
    }


}

.show__more__box {
    display: flex;
    justify-content: center;
    margin: 50px 30px 30px 30px;

    button {
        width: 150px;
        text-align: center;
        height: 55px;
        border: 1px solid #F3F4F6;
        border-radius: 15px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 13px;
        background-color: #FF8B11;
        transition-duration: 0.3s;
    }

    button:hover {
        background-color: #ff8c1179;
    }
}